<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>AUI Table</title>
		<link rel="stylesheet" type="text/css" href="{{baseUrl}}/atlassian-connect/all.css">
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.0/css/aui.css" media="all">
<!--
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui.css" media="all">
>
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui-ie.css" media="all"><![endif]-->
		<!--[if IE 9]>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui-ie9.css" media="all"><![endif]-->
		<script data-options="resize:false" src="{{baseUrl}}/atlassian-connect/all.js" type="text/javascript"></script>
		<script src="/js/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui.js" type="text/javascript"></script>

    </head>
    <body class="aui-page-fixed">
        <table class="aui aui-table-sortable" id="output-table-id">
           <thead>
              <tr>
                 <th>Color of Item</th>
                 <th>Black</th>
                 <th>Red</th>
                 <th>White</th>
                 <th>Totals</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <th>Sales Person</th>
                 <th></th>
              </tr>
              <tr>
                 <th>Imran</th>
                 <td>2</td>
                 <td>1</td>
                 <td></td>
                 <td>3</td>
              </tr>
              <tr>
                 <th>Larry</th>
                 <td>1</td>
                 <td>2</td>
                 <td>1</td>
                 <td>4</td>
              </tr>
              <tr>
                 <th>Totals</th>
                 <td>3</td>
                 <td>3</td>
                 <td>1</td>
                 <td>7</td>
              </tr>
           </tbody>
        </table>
    </body>
</html>
