<!DOCTYPE html>
<html>
    <head>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>AUI Table</title>
		<link rel="stylesheet" type="text/css" href="{{baseUrl}}/atlassian-connect/all.css">
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.0/css/aui.css" media="all">
<!--
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui.css" media="all">
>
		<!--[if lt IE 9]>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui-ie.css" media="all"><![endif]-->
		<!--[if IE 9]>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.9.0/css/aui-ie9.css" media="all"><![endif]-->
		<script data-options="resize:false" src="{{baseUrl}}/atlassian-connect/all.js" type="text/javascript"></script>
		<script src="/js/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui.js" type="text/javascript"></script>

    </head>
    <body class="aui-page-fixed">
        <table class="aui">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="type">Type</th>
                    <th id="order">Order</th>
                    <th id="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="name">Default</td>
                    <td headers="type">Internal Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td headers="name">Corporate LDAP</td>
                    <td headers="type">Microsoft Active Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="up" href="#">Up</a>
                            </li>
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                            <li>
                                <a href="#">Another Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
